<div class="login-container">
    <img class="angst-img" src="assets/images/harold.png" alt="">
    <div class="logo">Angst Galore</div>
    <div class="desc">
        Angst Galore is a place to post your most intimate, cringy, and embarrasing thoughts. Unleash your inner most demons.  
    </div>
    <div class="login-form">
        <div class="form-group">
            <label for="uname">Username</label>
            <input type="text" name="uname" class="form-control"  [(ngModel)]="username"/>
        </div>
        <div class="form-group">
            <label for="pname">Password</label>
            <input type="text" name="pword" class="form-control" [(ngModel)]="password"/>
        </div>
        <div class="btn-container">
            <div class="error">{{ errorMsg }}</div>
            <button class="btn btn-dark" (click)="login()">Login</button>
        </div>
    </div>
</div>